{% extends "layout.html" %}
{% from "bootstrap5/form.html" import render_form %}

{% block content %}
<div class="card">
  <div class="card-header">Schedule backport</div>
  <div class="card-body">
    <p>Schedule a Gerrit change for deployment during a <a href="https://wikitech.wikimedia.org/wiki/Backport_windows">backport window</a>.</p>
    {{ render_form( form, form_type="inline", id="backport" ) }}
  </div>
</div>
{% endblock %}
{# vim:set sw=2 ts=2 sts=2 et #}
